img {
  max-width: 100%;
  height: auto; }

html {
  width: 100%;
  overflow-x: hidden; }

body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  color: #fff;
  background: radial-gradient(70.28% 70.28% at 52.11% 36.3%, #0877BE 0%, #0B40A2 7.81%, #090E5F 55.58%, #0A0D4F 67.44%, #04043C 81.25%); }
  @media (max-width: 991.98px) {
    body {
      background: url("../img/Home.svg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; } }

* {
  outline: none !important;
  transition: 0.3s ease; }
  *:focus {
    box-shadow: none !important; }

a:hover {
  text-decoration: none; }

button {
  transition: all 0.6s; }
  button:hover {
    cursor: pointer; }

.group {
  position: relative;
  flex-grow: 1; }
  .group label {
    position: absolute;
    pointer-events: none;
    top: 12px;
    left: 24px;
    font-size: 18px;
    line-height: 21px;
    color: #9CA5FF; }
  .group input {
    width: 100%;
    height: 48px;
    background: #062673;
    color: #FFF;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
    border-radius: 40px;
    padding: 22px 24px 6px 24px; }
    .group input:focus ~ label, .group input:valid ~ label {
      font-size: 12px;
      line-height: 14px;
      top: 8px; }

.row-2 {
  margin-left: 0;
  margin-right: 0; }
  .row-2 > [class*="col"] {
    padding-left: 0;
    padding-right: 0; }

.process-btn {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #0A2C87;
  background: #00D7D7;
  border: 1.5px solid #00D7D7;
  box-sizing: border-box;
  box-shadow: 0px 4px 25px rgba(118, 255, 255, 0.33);
  border-radius: 40px;
  padding: 12px 40px; }
  @media (max-width: 330px) {
    .process-btn {
      font-size: 14px; } }
  .process-btn:hover {
    border: 1.5px solid #00D7D7;
    color: #00D7D7;
    background: transparent; }

.img-hover {
  cursor: pointer; }
  .img-hover:hover {
    opacity: 0.8; }

.standart-plan {
  margin: 16px 0 0 0; }
  .standart-plan .br-none {
    display: none; }
    @media (max-width: 1439px) {
      .standart-plan .br-none {
        display: block; } }
    @media (max-width: 1198.98px) {
      .standart-plan .br-none {
        display: none; } }
  .standart-plan h6 {
    font-weight: 300;
    font-size: 16px;
    color: #9CA5FF;
    margin-bottom: 12px; }
    @media (max-width: 1670px) {
      .standart-plan h6 {
        font-size: 14px; } }
    @media (max-width: 1442px) {
      .standart-plan h6 {
        font-size: 12px; } }
    @media (max-width: 1199.98px) {
      .standart-plan h6 {
        font-size: 14px; } }
    @media (max-width: 340px) {
      .standart-plan h6 {
        font-size: 12px; } }
  .standart-plan span {
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #76FFFF; }
    @media (max-width: 1670px) {
      .standart-plan span {
        font-size: 16px; } }
    @media (max-width: 1439px) {
      .standart-plan span {
        font-size: 14px; } }
    @media (max-width: 1199.98px) {
      .standart-plan span {
        font-size: 16px; } }
    @media (max-width: 340px) {
      .standart-plan span {
        font-size: 14px; } }

#stars {
  position: fixed !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1; }
  #stars > div:first-child {
    width: 1220px;
    height: 453px;
    position: absolute !important;
    top: 4px !important;
    left: 50% !important;
    margin-left: -610px;
    background: url("../img/MAIN-GRAPHIC.svg") no-repeat center;
    animation: anim-1 2.7s linear infinite; }
    @media (max-width: 1199.98px) {
      #stars > div:first-child {
        background: url("../img/small-stars-tablet.png") no-repeat center;
        top: 0 !important;
        left: 0 !important;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin-left: 0;
        opacity: 0.8;
        animation: anim-1-1 2.7s linear infinite; } }
    @media (max-width: 767.98px) {
      #stars > div:first-child {
        background: url("../img/mobile-srats.svg") no-repeat center;
        opacity: 0.6; } }
  #stars > div:last-child {
    width: 1232px;
    height: 483px;
    position: absolute !important;
    top: -9px !important;
    left: 50% !important;
    margin-left: -616px;
    background: url("../img/MAIN-GRAPHIC-blur.svg") no-repeat center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    animation: anim-2 3s linear infinite; }
    @media (max-width: 1199.98px) {
      #stars > div:last-child {
        background: url("../img/blur stars.png") no-repeat center;
        top: 0 !important;
        left: 0 !important;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin-left: 0; } }
    @media (max-width: 767.98px) {
      #stars > div:last-child {
        background: url("../img/blur stars mobile.png") no-repeat center; } }

@keyframes anim-1 {
  50% {
    margin-left: -630px; } }
@keyframes anim-1-1 {
  50% {
    margin-left: -20px; } }
@keyframes anim-2 {
  50% {
    margin-top: 15px; } }
body.home-page {
  min-height: 100vh; }
  @media (min-width: 1600px) {
    body.home-page .container-1450 {
      max-width: 1480px; } }
  @media (min-width: 1600px) {
    body.home-page .container-1440 {
      max-width: 1430px; } }
  body.home-page .container-1440 header {
    border-bottom: none;
    padding-top: 38px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 1199.98px) {
      body.home-page .container-1440 header {
        padding: 16px 14px; } }
    @media (max-width: 991.98px) {
      body.home-page .container-1440 header {
        background: transparent; } }
    @media (max-width: 330px) {
      body.home-page .container-1440 header {
        padding: 14px 0; } }
    body.home-page .container-1440 header .login-btn {
      border: 1.5px solid #00D7D7;
      box-sizing: border-box;
      border-radius: 40px;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
      color: #00D7D7;
      padding: 12px 50px; }
      @media (max-width: 1199.98px) {
        body.home-page .container-1440 header .login-btn {
          padding: 10px 42px; } }
      @media (max-width: 330px) {
        body.home-page .container-1440 header .login-btn {
          padding: 6px 32px;
          font-size: 14px; } }
      body.home-page .container-1440 header .login-btn:hover {
        background: #00D7D7;
        color: #2f359e; }
    body.home-page .container-1440 header .logo {
      display: block; }
      @media (max-width: 1199.98px) {
        body.home-page .container-1440 header .logo {
          height: 34px; } }
  body.home-page .spanp-with-our {
    display: none; }
    @media (max-width: 1199.98px) {
      body.home-page .spanp-with-our {
        display: block; }
        body.home-page .spanp-with-our span {
          font-weight: 500;
          font-size: 16px;
          line-height: 19px;
          color: #FFF;
          display: none; } }
    @media (max-width: 1199.98px) and (max-width: 330px) {
      body.home-page .spanp-with-our span {
        font-size: 14px; } }
    @media (max-width: 1199.98px) {
        body.home-page .spanp-with-our .dn-span {
          display: block; }
        body.home-page .spanp-with-our h1 {
          font-weight: 300;
          font-size: 26px;
          line-height: 30px;
          text-align: center;
          color: #FFF;
          margin-top: 16px;
          display: block; } }
    @media (max-width: 1199.98px) and (max-width: 330px) {
      body.home-page .spanp-with-our h1 {
        font-size: 24px; } }
    @media (max-width: 1199.98px) {
        body.home-page .spanp-with-our .db-span {
          display: none; }
        body.home-page .spanp-with-our .logo-mobil {
          margin-top: 16px;
          position: relative;
          display: block; }
          body.home-page .spanp-with-our .logo-mobil .coins-svg {
            position: relative;
            left: 50%;
            transform: translateX(-50%); }
          body.home-page .spanp-with-our .logo-mobil .coins-none {
            display: none; }
          body.home-page .spanp-with-our .logo-mobil .logo-small-mobil {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%); } }
      @media (max-width: 1199.98px) and (max-width: 575.98px) {
        body.home-page .spanp-with-our .logo-mobil .logo-small-mobil {
          width: 45%; } }

  body.home-page .start-plan-wrap {
    position: relative;
    z-index: 5;
    margin-top: 50px; }
    @media (max-width: 1199.98px) {
      body.home-page .start-plan-wrap {
        margin-top: 16px; } }
    body.home-page .start-plan-wrap .coin-icon-active {
      position: absolute;
      pointer-events: none; }
      @media (max-width: 1199.98px) {
        body.home-page .start-plan-wrap .coin-icon-active {
          display: none; } }
    body.home-page .start-plan-wrap .active-euro {
      top: 60px;
      left: 583px; }
      @media (max-width: 1600px) {
        body.home-page .start-plan-wrap .active-euro {
          left: 436px; } }
    body.home-page .start-plan-wrap .active-btc {
      top: -34px;
      left: 629px; }
      @media (max-width: 1600px) {
        body.home-page .start-plan-wrap .active-btc {
          left: 458px;
          top: -14px; } }
    body.home-page .start-plan-wrap .active-ether {
      top: -16px;
      left: 736px; }
      @media (max-width: 1600px) {
        body.home-page .start-plan-wrap .active-ether {
          left: 536px; } }
    body.home-page .start-plan-wrap .active-pm {
      top: 20px;
      left: 823px; }
      @media (max-width: 1600px) {
        body.home-page .start-plan-wrap .active-pm {
          left: 623px; } }
    body.home-page .start-plan-wrap .active-payeer {
      top: 105px;
      left: 883px; }
      @media (max-width: 1600px) {
        body.home-page .start-plan-wrap .active-payeer {
          left: 659px; } }
    body.home-page .start-plan-wrap .active-ltc {
      top: 228px;
      left: 755px; }
      @media (max-width: 1600px) {
        body.home-page .start-plan-wrap .active-ltc {
          left: 554px;
          top: 200px; } }
    body.home-page .start-plan-wrap .active-dollar {
      top: 137px;
      left: 535px; }
      @media (max-width: 1600px) {
        body.home-page .start-plan-wrap .active-dollar {
          left: 409px; } }
    body.home-page .start-plan-wrap .active-pound {
      top: 167px;
      left: 837px; }
      @media (max-width: 1600px) {
        body.home-page .start-plan-wrap .active-pound {
          left: 637px; } }
    body.home-page .start-plan-wrap .active-yen {
      top: 204px;
      left: 619px; }
      @media (max-width: 1600px) {
        body.home-page .start-plan-wrap .active-yen {
          left: 475px; } }
    body.home-page .start-plan-wrap #cart-plan-1-wrap:hover ~ .active-euro {
      top: -34px;
      left: 175px; }
      @media (max-width: 1600px) {
        body.home-page .start-plan-wrap #cart-plan-1-wrap:hover ~ .active-euro {
          left: 100px; } }
    body.home-page .start-plan-wrap #cart-plan-1-wrap:hover ~ .active-btc {
      top: -45px;
      left: 338px; }
      @media (max-width: 1600px) {
        body.home-page .start-plan-wrap #cart-plan-1-wrap:hover ~ .active-btc {
          left: 258px; } }
    body.home-page .start-plan-wrap #cart-plan-1-wrap:hover ~ .active-ether {
      top: 67px;
      left: 480px; }
      @media (max-width: 1600px) {
        body.home-page .start-plan-wrap #cart-plan-1-wrap:hover ~ .active-ether {
          left: 371px; } }
    body.home-page .start-plan-wrap #cart-plan-1-wrap:hover ~ .active-dollar {
      top: 188px;
      left: 439px; }
      @media (max-width: 1600px) {
        body.home-page .start-plan-wrap #cart-plan-1-wrap:hover ~ .active-dollar {
          top: 167px;
          left: 329px; } }
    body.home-page .start-plan-wrap #cart-plan-1-wrap:hover ~ .active-ltc {
      top: 248px;
      left: 278px; }
      @media (max-width: 1600px) {
        body.home-page .start-plan-wrap #cart-plan-1-wrap:hover ~ .active-ltc {
          top: 238px;
          left: 222px; } }
    body.home-page .start-plan-wrap #cart-plan-1-wrap:hover ~ .active-payeer {
      top: 261px;
      left: 80px; }
      @media (max-width: 1600px) {
        body.home-page .start-plan-wrap #cart-plan-1-wrap:hover ~ .active-payeer {
          top: 242px; } }
    body.home-page .start-plan-wrap #cart-plan-1-wrap:hover ~ .active-pm {
      top: 154px;
      left: -27px; }
      @media (max-width: 1600px) {
        body.home-page .start-plan-wrap #cart-plan-1-wrap:hover ~ .active-pm {
          top: 127px; } }
    body.home-page .start-plan-wrap #cart-plan-1-wrap:hover ~ .active-pound {
      top: 151px;
      left: 537px; }
      @media (max-width: 1600px) {
        body.home-page .start-plan-wrap #cart-plan-1-wrap:hover ~ .active-pound {
          left: 415px; } }
    body.home-page .start-plan-wrap #cart-plan-1-wrap:hover ~ .active-yen {
      top: 217px;
      left: 607px; }
      @media (max-width: 1600px) {
        body.home-page .start-plan-wrap #cart-plan-1-wrap:hover ~ .active-yen {
          left: 472px;
          top: 194px; } }
    body.home-page .start-plan-wrap #cart-plan-2-wrap:hover ~ .active-euro {
      top: -34px;
      left: 1340px; }
      @media (max-width: 1600px) {
        body.home-page .start-plan-wrap #cart-plan-2-wrap:hover ~ .active-euro {
          left: 1024px; } }
    body.home-page .start-plan-wrap #cart-plan-2-wrap:hover ~ .active-btc {
      top: -45px;
      left: 1108px; }
      @media (max-width: 1600px) {
        body.home-page .start-plan-wrap #cart-plan-2-wrap:hover ~ .active-btc {
          left: 820px; } }
    body.home-page .start-plan-wrap #cart-plan-2-wrap:hover ~ .active-ether {
      top: 67px;
      left: 963px; }
      @media (max-width: 1600px) {
        body.home-page .start-plan-wrap #cart-plan-2-wrap:hover ~ .active-ether {
          left: 663px; } }
    body.home-page .start-plan-wrap #cart-plan-2-wrap:hover ~ .active-dollar {
      top: 188px;
      left: 957px; }
      @media (max-width: 1600px) {
        body.home-page .start-plan-wrap #cart-plan-2-wrap:hover ~ .active-dollar {
          top: 197px;
          left: 738px; } }
    body.home-page .start-plan-wrap #cart-plan-2-wrap:hover ~ .active-ltc {
      top: 248px;
      left: 1075px; }
      @media (max-width: 1600px) {
        body.home-page .start-plan-wrap #cart-plan-2-wrap:hover ~ .active-ltc {
          top: 238px;
          left: 875px; } }
    body.home-page .start-plan-wrap #cart-plan-2-wrap:hover ~ .active-payeer {
      top: 261px;
      left: 1368px; }
      @media (max-width: 1600px) {
        body.home-page .start-plan-wrap #cart-plan-2-wrap:hover ~ .active-payeer {
          top: 242px;
          left: 1048px; } }
    body.home-page .start-plan-wrap #cart-plan-2-wrap:hover ~ .active-pm {
      top: 154px;
      left: 1424px; }
      @media (max-width: 1600px) {
        body.home-page .start-plan-wrap #cart-plan-2-wrap:hover ~ .active-pm {
          top: 127px;
          left: 1088px; } }
    body.home-page .start-plan-wrap #cart-plan-2-wrap:hover ~ .active-pound {
      top: 151px;
      left: 900px; }
      @media (max-width: 1600px) {
        body.home-page .start-plan-wrap #cart-plan-2-wrap:hover ~ .active-pound {
          left: 687px; } }
    body.home-page .start-plan-wrap #cart-plan-2-wrap:hover ~ .active-yen {
      top: 217px;
      left: 806px; }
      @media (max-width: 1600px) {
        body.home-page .start-plan-wrap #cart-plan-2-wrap:hover ~ .active-yen {
          top: 194px;
          left: 609px; } }
    body.home-page .start-plan-wrap .coins-wrap {
      position: relative; }
      @media (max-width: 1199.98px) {
        body.home-page .start-plan-wrap .coins-wrap {
          display: none !important; } }
      @media (max-width: 1600px) {
        body.home-page .start-plan-wrap .coins-wrap .coin-logo {
          width: 35%; } }
      @media (max-width: 1199.98px) {
        body.home-page .start-plan-wrap .coins-wrap .coin-logo {
          width: 100%; } }
      body.home-page .start-plan-wrap .coins-wrap .coins-none {
        opacity: 0; }
    body.home-page .start-plan-wrap .cart-wrap {
      padding: 12px 10px;
      border: 5px solid transparent;
      border-radius: 20px;
      position: relative; }
      @media (max-width: 1199.98px) {
        body.home-page .start-plan-wrap .cart-wrap {
          padding: 0;
          border: 3px solid transparent; } }
      body.home-page .start-plan-wrap .cart-wrap .cart {
        padding: 24px 10px;
        background: rgba(47, 53, 158, 0.35);
        border-radius: 12px;
        box-sizing: border-box;
        cursor: pointer; }
        @media (max-width: 1199.98px) {
          body.home-page .start-plan-wrap .cart-wrap .cart {
            padding: 12px 8px; } }
        body.home-page .start-plan-wrap .cart-wrap .cart h2 {
          font-weight: 200;
          font-size: 45px;
          line-height: 53px;
          color: #FFF;
          margin-left: 4; }
          @media (max-width: 1199.98px) {
            body.home-page .start-plan-wrap .cart-wrap .cart h2 {
              font-size: 28px;
              line-height: 30px; } }
        body.home-page .start-plan-wrap .cart-wrap .cart .standart-plan {
          margin: 30px 0; }
          @media (max-width: 1199.98px) {
            body.home-page .start-plan-wrap .cart-wrap .cart .standart-plan {
              margin: 16px 0; } }
          body.home-page .start-plan-wrap .cart-wrap .cart .standart-plan:last-child {
            margin-bottom: 0; }
          body.home-page .start-plan-wrap .cart-wrap .cart .standart-plan h6 {
            font-size: 14px;
            line-height: 16px; }
            @media (max-width: 1199.98px) {
              body.home-page .start-plan-wrap .cart-wrap .cart .standart-plan h6 {
                margin-bottom: 8px; } }
            @media (max-width: 330px) {
              body.home-page .start-plan-wrap .cart-wrap .cart .standart-plan h6 {
                font-size: 10px; } }
          body.home-page .start-plan-wrap .cart-wrap .cart .standart-plan span {
            font-size: 18px;
            line-height: 21px; }
            @media (max-width: 1600px) {
              body.home-page .start-plan-wrap .cart-wrap .cart .standart-plan span {
                font-size: 14px; } }
            @media (max-width: 1199.98px) {
              body.home-page .start-plan-wrap .cart-wrap .cart .standart-plan span {
                font-size: 16px; } }
            @media (max-width: 330px) {
              body.home-page .start-plan-wrap .cart-wrap .cart .standart-plan span {
                font-size: 14px; } }
        @media (max-width: 1600px) {
          body.home-page .start-plan-wrap .cart-wrap .cart .standart-plan-first {
            margin-top: 0; } }
      body.home-page .start-plan-wrap .cart-wrap:hover {
        border: 5px solid rgba(27, 229, 229, 0.7); }
        @media (max-width: 1199.98px) {
          body.home-page .start-plan-wrap .cart-wrap:hover {
            border: 3px solid rgba(27, 229, 229, 0.7); } }
    body.home-page .start-plan-wrap .active {
      border: 5px solid rgba(27, 229, 229, 0.7); }
      @media (max-width: 1199.98px) {
        body.home-page .start-plan-wrap .active {
          border: 3px solid rgba(27, 229, 229, 0.7); } }
      body.home-page .start-plan-wrap .active .coin-icon-active {
        opacity: 1;
        visibility: visible; }
    body.home-page .start-plan-wrap .cart-wrap-2 .active-euro {
      top: -35px;
      left: 54px; }
    body.home-page .start-plan-wrap .cart-wrap-2 .active-btc {
      top: -42px;
      left: 228px; }
    body.home-page .start-plan-wrap .cart-wrap-2 .active-pm {
      left: 417px;
      top: 27px; }
      @media (max-width: 1600px) {
        body.home-page .start-plan-wrap .cart-wrap-2 .active-pm {
          left: 317px; } }
    body.home-page .start-plan-wrap .cart-wrap-2 .active-payeer {
      bottom: -33px;
      left: 297px; }
    body.home-page .start-plan-wrap .cart-wrap-2 .active-ltc {
      bottom: -35px;
      left: 133px; }
    body.home-page .start-plan-wrap .cart-wrap-2 .active-dollar {
      left: -46px;
      bottom: 138px; }
    body.home-page .start-plan-wrap .cart-wrap-2 .active-ether {
      left: -92px;
      bottom: 39px; }
    body.home-page .start-plan-wrap .cart-wrap-2 .active-pound {
      left: -141px;
      bottom: 95px; }
      @media (max-width: 1600px) {
        body.home-page .start-plan-wrap .cart-wrap-2 .active-pound {
          left: -108px; } }
    body.home-page .start-plan-wrap .cart-wrap-2 .active-yen {
      left: -200px;
      bottom: 31px; }
      @media (max-width: 1600px) {
        body.home-page .start-plan-wrap .cart-wrap-2 .active-yen {
          left: -37px;
          bottom: 0; } }
  @media (max-width: 1199.98px) {
    body.home-page .withdraw-h3 {
      display: none; } }
  body.home-page .withdraw-h3 h3 {
    font-size: 16px;
    line-height: 19px;
    color: #FFF;
    margin-bottom: 5px;
    margin-top: 32px; }
    body.home-page .withdraw-h3 h3:last-child {
      color: #00D7D7;
      margin-top: 0; }
  body.home-page .your-email {
    padding: 21px 0;
    margin-top: 10px;
    background: linear-gradient(269.58deg, #161C74 10.26%, #173293 50.37%), #C4C4C4; }
    body.home-page .your-email .input-button-wrap {
      display: flex;
      justify-content: space-between; }
      @media (max-width: 1199.98px) {
        body.home-page .your-email .input-button-wrap {
          justify-content: center; } }
      @media (max-width: 767.98px) {
        body.home-page .your-email .input-button-wrap {
          flex-direction: column; } }
      body.home-page .your-email .input-button-wrap .group {
        margin-right: 16px; }
        @media (max-width: 1600px) {
          body.home-page .your-email .input-button-wrap .group label {
            left: 12px; } }
        @media (max-width: 1600px) {
          body.home-page .your-email .input-button-wrap .group input {
            padding: 22px 12px 6px 12px; } }
        @media (max-width: 767.98px) {
          body.home-page .your-email .input-button-wrap .group input {
            margin-right: 0;
            margin-bottom: 10px; } }
      body.home-page .your-email .input-button-wrap .process-btn {
        text-align: center;
        display: block;
        width: 220px;
        padding: 12px 16px; }
        @media (max-width: 1600px) {
          body.home-page .your-email .input-button-wrap .process-btn {
            width: 200px; } }
  @media (max-width: 1199.98px) {
    body.home-page .section-button-cards {
      margin-top: 24px; } }
  body.home-page .section-button-cards .cart {
    padding: 48px 0 0 0;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative; }
    @media (max-width: 1199.98px) {
      body.home-page .section-button-cards .cart {
        padding: 24px 0 0 0; } }
    @media (max-width: 330px) {
      body.home-page .section-button-cards .cart {
        padding: 14px 0 0 0; } }
    body.home-page .section-button-cards .cart::before {
      content: "";
      width: 1px;
      height: 150vh;
      position: absolute;
      bottom: 0;
      left: 0;
      background: rgba(255, 255, 255, 0.1);
      z-index: -1; }
      @media (max-width: 1199.98px) {
        body.home-page .section-button-cards .cart::before {
          display: none; } }
    body.home-page .section-button-cards .cart .cart-header {
      display: flex;
      align-items: center;
      padding: 0 20px; }
      @media (max-width: 1600px) {
        body.home-page .section-button-cards .cart .cart-header {
          padding: 0 12px; } }
      @media (max-width: 1199.98px) {
        body.home-page .section-button-cards .cart .cart-header {
          padding: 0 16px; } }
      body.home-page .section-button-cards .cart .cart-header h4 {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
        color: #FFF;
        padding-left: 16px;
        margin-bottom: 0; }
        @media (max-width: 1600px) {
          body.home-page .section-button-cards .cart .cart-header h4 {
            font-size: 14px; } }
        @media (max-width: 1199.98px) {
          body.home-page .section-button-cards .cart .cart-header h4 {
            font-size: 18px; } }
        @media (max-width: 330px) {
          body.home-page .section-button-cards .cart .cart-header h4 {
            font-size: 15px; } }
      body.home-page .section-button-cards .cart .cart-header img {
        width: 28px;
        height: 25px; }
    body.home-page .section-button-cards .cart hr {
      margin: 24px 0 0 0;
      border-top: 1px solid #76FFFF; }
      @media (max-width: 1199.98px) {
        body.home-page .section-button-cards .cart hr {
          margin: 16px 0 0 0; } }
    body.home-page .section-button-cards .cart .cart-body {
      display: flex;
      padding: 14px 20px;
      align-items: center;
      flex-grow: 1; }
      @media (max-width: 1600px) {
        body.home-page .section-button-cards .cart .cart-body {
          padding: 14px 12px; } }
      @media (max-width: 1199.98px) {
        body.home-page .section-button-cards .cart .cart-body {
          padding: 16px 12px 0 12px; } }
      @media (max-width: 330px) {
        body.home-page .section-button-cards .cart .cart-body {
          padding: 12px 12px 0 12px; } }
      body.home-page .section-button-cards .cart .cart-body .number {
        font-weight: 300;
        font-size: 35px;
        color: #FFF; }
      body.home-page .section-button-cards .cart .cart-body .register {
        display: flex;
        flex-direction: column;
        margin-left: 12px; }
      body.home-page .section-button-cards .cart .cart-body .reg-span {
        font-weight: 500;
        font-size: 16px;
        color: #FFF;
        line-height: 20px; }
        @media (max-width: 1600px) {
          body.home-page .section-button-cards .cart .cart-body .reg-span {
            font-size: 14px; } }
        @media (max-width: 1199.98px) {
          body.home-page .section-button-cards .cart .cart-body .reg-span {
            font-size: 16px; } }
        @media (max-width: 330px) {
          body.home-page .section-button-cards .cart .cart-body .reg-span {
            font-size: 14px; } }
      body.home-page .section-button-cards .cart .cart-body .fw-200 {
        font-weight: 300;
        line-height: 20px;
        color: #FFF; }
        @media (max-width: 1600px) {
          body.home-page .section-button-cards .cart .cart-body .fw-200 {
            font-size: 12px; } }
        @media (max-width: 1199.98px) {
          body.home-page .section-button-cards .cart .cart-body .fw-200 {
            font-size: 16px; } }
        @media (max-width: 330px) {
          body.home-page .section-button-cards .cart .cart-body .fw-200 {
            font-size: 14px; } }
    body.home-page .section-button-cards .cart .cart-body-2 {
      flex-direction: column;
      align-items: start; }
      body.home-page .section-button-cards .cart .cart-body-2 img {
        margin-right: 18px;
        width: 16px; }
        @media (max-width: 330px) {
          body.home-page .section-button-cards .cart .cart-body-2 img {
            margin-right: 8px; } }
      body.home-page .section-button-cards .cart .cart-body-2 .reg-span {
        margin: 10px 0; }
    body.home-page .section-button-cards .cart .cart-body-3, body.home-page .section-button-cards .cart .cart-body-4 {
      flex-direction: column;
      text-align: center; }
      @media (max-width: 1199.98px) {
        body.home-page .section-button-cards .cart .cart-body-3 .reg-span, body.home-page .section-button-cards .cart .cart-body-4 .reg-span {
          font-weight: 300;
          font-size: 16px;
          line-height: 19px; } }
  @media (max-width: 1199.98px) and (max-width: 330px) {
    body.home-page .section-button-cards .cart .cart-body-3 .reg-span, body.home-page .section-button-cards .cart .cart-body-4 .reg-span {
      font-size: 14px; } }
      @media (max-width: 1199.98px) {
        body.home-page .section-button-cards .cart .cart-body-3 .reg-span-bold, body.home-page .section-button-cards .cart .cart-body-4 .reg-span-bold {
          font-weight: 500; } }
      body.home-page .section-button-cards .cart .cart-body-3 p, body.home-page .section-button-cards .cart .cart-body-4 p {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #FFF;
        margin: 35px 0 24px 0; }
        @media (max-width: 1600px) {
          body.home-page .section-button-cards .cart .cart-body-3 p, body.home-page .section-button-cards .cart .cart-body-4 p {
            font-size: 14px; } }
        @media (max-width: 1199.98px) {
          body.home-page .section-button-cards .cart .cart-body-3 p, body.home-page .section-button-cards .cart .cart-body-4 p {
            margin: 22px 0 16px 0; } }
    @media (max-width: 1199.98px) {
      body.home-page .section-button-cards .cart .cart-body-4 {
        align-items: center; } }
    body.home-page .section-button-cards .cart .cart-body-4 .procsent-4-2-1 {
      font-weight: 500;
      font-size: 35px;
      color: #FFF; }
    body.home-page .section-button-cards .cart .cart-body-4 p {
      margin-top: 10px;
      margin-bottom: 0; }
      body.home-page .section-button-cards .cart .cart-body-4 p b {
        font-weight: 300; }
      @media (max-width: 1199.98px) {
        body.home-page .section-button-cards .cart .cart-body-4 p {
          text-align: center;
          font-size: 16px; } }
    body.home-page .section-button-cards .cart .cart-footer {
      background: rgba(47, 53, 158, 0.25);
      padding: 20px 16px;
      border-right: 1px solid rgba(255, 255, 255, 0.7);
      cursor: pointer; }
      @media (max-width: 1199.98px) {
        body.home-page .section-button-cards .cart .cart-footer {
          display: none; } }
      body.home-page .section-button-cards .cart .cart-footer:hover span {
        opacity: 1; }
      body.home-page .section-button-cards .cart .cart-footer span {
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        color: #FFF;
        opacity: 0.6; }
        body.home-page .section-button-cards .cart .cart-footer span b {
          color: #76FFFF; }
        @media (max-width: 1600px) {
          body.home-page .section-button-cards .cart .cart-footer span {
            font-size: 16px; } }
  body.home-page .footer-network {
    margin-top: 40px; }
    @media (max-width: 1199.98px) {
      body.home-page .footer-network {
        margin-top: 16px; } }
    body.home-page .footer-network .network {
      font-size: 15px;
      line-height: 18px;
      color: #76FFFF;
      margin-right: 24px; }
    body.home-page .footer-network a.social {
      margin-right: 16px; }
      body.home-page .footer-network a.social:last-child {
        margin: 0; }
  body.home-page a.terms-link {
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
    color: #76FFFF;
    margin-top: 8px; }

.wrap-blue-bg-input {
  background: linear-gradient(269.58deg, #161C74 10.26%, #173293 50.37%), #C4C4C4;
  padding: 24px 16px;
  margin-top: 32px;
  display: none; }
  @media (max-width: 1199.98px) {
    .wrap-blue-bg-input {
      display: block; } }
  @media (max-width: 991.98px) {
    .wrap-blue-bg-input {
      margin-top: 40px;
      margin-bottom: 24px; } }
  @media (max-width: 330px) {
    .wrap-blue-bg-input {
      margin-top: 18px; } }
  .wrap-blue-bg-input .cart-input .process-btn {
    text-align: center;
    display: block;
    width: 100%;
    margin: 16px 0 8px 0; }

.vertical-line-span {
  display: none; }
  @media (max-width: 1199.98px) {
    .vertical-line-span {
      display: block;
      width: 1px;
      position: fixed;
      height: 100%;
      border-left: 1px solid rgba(255, 255, 255, 0.1);
      bottom: 0;
      z-index: -1; } }

.vertical-line-left {
  left: 16px; }

.vertical-line-span-midle {
  left: 50%; }

.vertical-line-right {
  right: 16px; }

.hover-exit {
  position: absolute;
  background: transparent;
  cursor: pointer;
  z-index: 5; }

.hover-exit-top {
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 25px; }
  @media (max-width: 1199.98px) {
    .hover-exit-top {
      height: 15px; } }

.hover-exit-right {
  right: 0;
  top: 0;
  width: 25px;
  height: 80px; }

#Modal-intent-exit {
  padding: 0; }
  @media (min-width: 992px) {
    #Modal-intent-exit .modal-dialog {
      max-width: 880px !important; } }
  #Modal-intent-exit .modal-dialog .modal-content {
    position: relative;
    background: rgba(47, 53, 158, 0.85);
    backdrop-filter: blur(4px);
    border-radius: 12px;
    padding-top: 55px; }
    #Modal-intent-exit .modal-dialog .modal-content .close {
      position: absolute;
      right: 18px;
      top: 18px;
      opacity: 1; }
      @media (max-width: 575.98px) {
        #Modal-intent-exit .modal-dialog .modal-content .close {
          right: 16px;
          top: 16px; } }
    #Modal-intent-exit .modal-dialog .modal-content .modal-body {
      padding: 0 26px; }
      @media (max-width: 575.98px) {
        #Modal-intent-exit .modal-dialog .modal-content .modal-body {
          padding: 0 16px; } }
      #Modal-intent-exit .modal-dialog .modal-content .modal-body .bg-popup {
        position: absolute;
        right: 0; }
      #Modal-intent-exit .modal-dialog .modal-content .modal-body .modal-top {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        #Modal-intent-exit .modal-dialog .modal-content .modal-body .modal-top h3 {
          font-weight: 500;
          font-size: 28px;
          text-transform: uppercase;
          color: #76FFFF;
          margin-bottom: 0; }
          @media (max-width: 991.98px) {
            #Modal-intent-exit .modal-dialog .modal-content .modal-body .modal-top h3 {
              font-size: 24px; } }
          @media (max-width: 575.98px) {
            #Modal-intent-exit .modal-dialog .modal-content .modal-body .modal-top h3 {
              font-size: 18px; } }
        #Modal-intent-exit .modal-dialog .modal-content .modal-body .modal-top img {
          height: 40px; }
          @media (max-width: 575.98px) {
            #Modal-intent-exit .modal-dialog .modal-content .modal-body .modal-top img {
              height: 30px; } }
      #Modal-intent-exit .modal-dialog .modal-content .modal-body .content {
        padding: 0; }
        #Modal-intent-exit .modal-dialog .modal-content .modal-body .content h2 {
          font-weight: 500;
          font-size: 38px;
          line-height: 45px;
          margin-bottom: 16px;
          margin-top: 37px; }
          @media (max-width: 991.98px) {
            #Modal-intent-exit .modal-dialog .modal-content .modal-body .content h2 {
              font-size: 28px;
              line-height: 36px;
              margin-top: 16px; } }
          @media (max-width: 575.98px) {
            #Modal-intent-exit .modal-dialog .modal-content .modal-body .content h2 {
              font-size: 26px;
              margin-bottom: 6px; } }
          @media (max-width: 330px) {
            #Modal-intent-exit .modal-dialog .modal-content .modal-body .content h2 {
              font-size: 22px;
              line-height: 28px; } }
          #Modal-intent-exit .modal-dialog .modal-content .modal-body .content h2 a {
            color: #76FFFF;
            text-decoration: underline; }
        #Modal-intent-exit .modal-dialog .modal-content .modal-body .content span {
          font-size: 24px;
          line-height: 28px;
          display: block;
          margin-bottom: 24px; }
          @media (max-width: 991.98px) {
            #Modal-intent-exit .modal-dialog .modal-content .modal-body .content span {
              font-size: 18px; } }
          @media (max-width: 330px) {
            #Modal-intent-exit .modal-dialog .modal-content .modal-body .content span {
              font-size: 16px; } }
        #Modal-intent-exit .modal-dialog .modal-content .modal-body .content .input-button {
          display: flex; }
          @media (max-width: 991.98px) {
            #Modal-intent-exit .modal-dialog .modal-content .modal-body .content .input-button {
              flex-direction: column; } }
          #Modal-intent-exit .modal-dialog .modal-content .modal-body .content .input-button a {
            margin-left: 12px; }
            @media (max-width: 991.98px) {
              #Modal-intent-exit .modal-dialog .modal-content .modal-body .content .input-button a {
                margin-left: 0;
                margin-top: 12px;
                display: block;
                text-align: center; } }
    #Modal-intent-exit .modal-dialog .modal-content .modal-footter {
      background: #4554F0;
      padding: 17px 27px;
      text-align: center;
      border-radius: 0 0 12px 12px;
      margin-top: 60px; }
      @media (max-width: 991.98px) {
        #Modal-intent-exit .modal-dialog .modal-content .modal-footter {
          margin-top: 26px; } }
      @media (max-width: 575.98px) {
        #Modal-intent-exit .modal-dialog .modal-content .modal-footter {
          padding: 16px; } }
      #Modal-intent-exit .modal-dialog .modal-content .modal-footter span {
        font-size: 18px;
        line-height: 21px;
        text-align: center; }
        @media (max-width: 575.98px) {
          #Modal-intent-exit .modal-dialog .modal-content .modal-footter span {
            font-size: 14px; } }
        @media (max-width: 330px) {
          #Modal-intent-exit .modal-dialog .modal-content .modal-footter span {
            font-size: 12px; } }

/*# sourceMappingURL=style-home.css.map */
